.container {
    width: 100%;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

.block {
    width: 75px;
    height: 75px;
    margin: 25px;
    border: 2px solid #333;
}

.active {
    background: orange;
}

.hide {
    display: none;
}

.img-12-min {
    width: 64px;
}

.img-12-max {
    width: 128px;
    border: 3px solid #fff;

}

.active-img {
    border: 3px solid black;
}

.table {
    width: 250px;
    margin-bottom: 20px !important;

}

/* tr {
    width: 250px;
}

tr {
    border-bottom: 1px solid #eee;
} */

td button {
    min-width: 30px;
}