body {
	margin: 0;
	padding: 0;
}

.container {
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

h1 {
	margin-top: 0;
}

.weather__wrapper {
	margin: 0 auto;
	min-width: 600px;
	max-width: 700px;
	padding: 20px;
	border-radius: 15px;
	color: #515151;
	background: linear-gradient(45deg, #EECFBA, #C5DDE8);
	;
	box-shadow: 10px -2px 20px 2px rgba(0, 0, 0, .3);
}

.location__btn {
	cursor: pointer;
	border: none;
	font: inherit;
	color: inherit;
	outline: none;
	background-color: transparent;
	font-size: 24px;
	margin-bottom: 20px;
	position: relative;
	transition: 0.4s;
}

.location__btn:hover,
.location__btn:active,
.location__btn:focus {
	outline: none;
}

.location__btn::before {
	position: absolute;
	display: inline-block;
	left: -20px;
	content: '';
	width: 24px;
	height: 24px;
	background-image: url('./img/compass.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

header {
	position: relative;
	padding-bottom: 20px;
}



.weather__select {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.weather__select select {
	text-align: center;
	background-color: inherit;
	padding: 5px;
	font-size: 18px;
	border: none;
	flex-grow: 1;
	margin: 0 10px 20px 10px;
	appearance: none;
	cursor: pointer;
	outline: none;
}


.weather__location {
	display: flex;
	justify-content: center;
}



.weather__location p {
	font-size: 30px;
	padding: 0 20px;
}

.weather__location--city {
	border-right: 2px solid #fff;
}

.weather__details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
}



.weather__details img {
	width: 200px;
	height: auto;
}

.weather__details__temp {
	font-size: 52px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	position: relative;
}

.weather__details__list {
	width: 50%;
}

.weather__details__list ul,
.weather__details__list ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	font-size: 18px;
}

.weather__fewdays {
	font-size: 15px;
	display: flex;
	justify-content: space-between;
}

.weather__fewdays img {
	width: 50px;
	height: auto;
}

.weather__fewdays p {
	margin: 0;
}

.weather__fewdays__item {
	text-align: center;
	flex-grow: 1;
	border-right: 1px solid #fff;
	padding: 10px 10px;
}

.weather__fewdays__item:last-child {
	border-right: none;
}

.fewdays__date {
	margin: 0;
	margin-bottom: 10px;
}


header::after,
.weather__details::after,
.weather__details__temp::after {
	content: '';
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 1px;
	border-radius: 15px;
	background-color: #fff;
	box-shadow: 0px 1px 1px 01px rgba(0, 0, 0, .1);
}