.container {
    width: 100%;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

.block {
    width: 75px;
    height: 75px;
    margin: 25px;
    border: 2px solid #333;
}

.active {
    background: orange;
}

.hide {
    display: none;
}


.keyboard {
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid slategrey;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    width: 692px;
}

.line::after {
    content: "";
    display: block;
    clear: both;
}

.key {
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid slategrey;
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
}

.key:hover,
.hover {
    color: #fff;
    background: slategrey;
    cursor: pointer;
}

.backspace {
    width: 76px;
}

.tab,
.capslock {
    width: 60px;
}

.lshift {
    width: 72px;
}

.rshift {
    width: 90px;
}

.lctrl,
.rctrl {
    width: 69px;
}

.space {
    width: 248px;
}

.window {
    width: 20px;
    padding-top: 5px;
}

.letter-key {
    font-size: 10px;
    line-height: 100%;
}

.enter {
    position: absolute;
    right: 5px;
    top: 51px;
    width: 56px;
    height: 87px;
}